<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
</head>

<body class="index">
    <!-- la imagen de Emilia va como fondo de pantalla-->
    <header class="index__header">
        <%- include('./partials/header') %> 
    </header>
    <main class="index__main">
        <h2 class="index__main--subtitulo">Emilia<br>Cole //</h2>
        <h1 class="index__main--titulo">Twist in my reality</h1>
    </main>
</body>

</html>