<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
</head>

<body class="music">
    <header class="header">
        <%- include('./partials/header') %> 
    </header>
    <main class="music__main">
        <h1>Music //</h1>
        <h4>Direct links</h4>
        <nav class="music__main__nav">
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
            <section class="music__main__section">
                <!-- caja para los ábumes -->
        </nav> <!-- caja albumes -->
        <article id="album" class="music__main__section__article">
            <h3>Album<br>Twist in my reality</h3>
            <img src="/images/emilia-play-list.png" alt="" width="640">
            <ul>
                <li>01. <i class="fa fa-play"></i> Organic Love | 02:40</li>
                <li>02. <i class="fa fa-play"></i> Twist in My Reality | 02:10</li>
                <li>03. <i class="fa fa-play"></i> Street Light | 03:28</li>
                <li>04. <i class="fa fa-play"></i> Love Don't Live Here Anymore (Cover) | 03:49</li>
            </ul>
            <a href="#">Go top</a>
        </article>
        </section><!-- caja para los videos -->
        <section class="music__main__section">
            <!-- caja de video -->
            <article id="organic" class="music__main__section__article">
                <h3>Video<br>Organic Love</h3>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">Go top</a>
            </article>
            <article id="street" class="music__main__section__article">
                <h3>Video<br>Street Light</h3>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">Go top</a>
            </article>
        </section>
    </main>
</body>

</html>