:root {
    --tipografiaTitulos : "Raleway", Verdana, Sans-serif;
    --tipografiaSubtitulos : "Work Sans", Verdana, Sans-serif;
    --tipografiaGeneral : "Open Sans", Verdana, Sans-serif;
    --colorVerde : #44a391;
}